# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE / editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Django / local files
media/
staticfiles/

# Environment files
.env
.env.*

# Logs
*.log