<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand fw-bold">SkyArchive</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'aircraft_list' %}" class="nav-link">Aircraft</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'aircraft_filter' %}" class="nav-link">Filter Aircraft</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'role_list' %}" class="nav-link">Roles</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'manufacturer_list' %}" class="nav-link">Manufacturers</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'country_list' %}" class="nav-link">Countries</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'aircraft_create' %}" class="nav-link">Add Aircraft</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'role_create' %}" class="nav-link">Add Role</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>